.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(26, 26, 26);
}
.App > span{
  font-size: 136px;
  font-weight: 900;
  pointer-events: none;
  -webkit-touch-callout: none; /* iOS Safari                           */
  -webkit-user-select: none; /* Safari                               */
   -khtml-user-select: none; /* Konqueror HTML                       */
     -moz-user-select: none; /* Firefox w przeszłości (stare wersje) */
      -ms-user-select: none; /* Internet Explorer (>=10) / Edge      */
          user-select: none;
}
.low{
  color: #FF0000;
}
.App > button{
  color: rgb(160, 9, 160);
  font-size: 24px;
  background-color: transparent;
  border: 2px solid rgb(160, 9, 160);
  padding: 12px 32px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-touch-callout: none; /* iOS Safari                           */
  -webkit-user-select: none; /* Safari                               */
   -khtml-user-select: none; /* Konqueror HTML                       */
     -moz-user-select: none; /* Firefox w przeszłości (stare wersje) */
      -ms-user-select: none; /* Internet Explorer (>=10) / Edge      */
          user-select: none;
  margin-top: 64px;
}
.App > button:hover{
  background-color: rgb(160, 9, 160);
  color: rgb(26, 26, 26);
  color: red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.5s ease-in-out infinite;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
